body {
    font-family: 'Baloo Bhai 2', cursive;
    margin: 0px;
    padding: 0px;
    background: url('ag1.jpg') no-repeat center center/cover;
    /* background-repeat: no-repeat;
    background-size: cover; */
}

header {
    color: white;
}

.left {
    display: inline-block;
    position: absolute;
    left: 34px;
    top: 18px;
}

.center {
    display: block;
    width: 42%;
    margin: 18px auto;
}

.right {
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 40px;
}

.nevbar {
    display: inline-block;
}

.nevbar li {
    display: inline-block;
    font-size: 25px;
}

.nevbar li a {
    color: white;
    text-decoration: none;
    padding: 14px 10px;
}

.nevbar li a.active,
.nevbar li a:hover {
    text-decoration: underline;
    color: gray;
}

.left img {
    width: 85px;
}

.btn {
    font-family: 'Baloo Bhai 2', cursive;
    margin: 0px 5px;
    background-color: transparent;
    color: white;
    padding: 0px 6px;
    font-size: 16px;
    border: 2px solid gray;
    border-radius: 12px;
}

.btn:hover {
    background-color: #393636;

}

.container {
    border: 2px solid white;
    margin: 100px 80px;
    width: 33%;
    padding: 20px 5px;
    border-radius: 20px;
    display: block;
}

.form-group input {
    font-family: 'Baloo Bhai 2', cursive;
    text-align: center;
    display: block;
    width: 250px;
    margin: 6px auto;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 12px;
}

.container h1 {
    font-size: 24px;
    text-align: center;
}

.container button {
    display: block;
    width: 58%;
    margin: 8px auto;
}
footer{
    text-align: center;
    color: white;
}
